button:disabled {
  opacity: 0.5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-7{
  background-color: #17191e;
  
}

.wrap-heading {


  /* background-image: url('../public/assets/images/backgroup-secsion/bg-new.svg');  */

  background-position: center bottom	;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:100% ; 
  /* margin: -20px; */
  /* opacity: 0.2; */
}

.wrap-heading-content {
  /* margin-left: 120px;
  margin-right: 12%; */

}

/* .tf-section{
  background-image: url('../public/assets/images/backgroup-secsion/bgmaintop.jpg');
} */

.nft-marketplace-heading{
  color:#FF4F0D;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputcopy::before{
  content: url('../src/assets/images/icon/ethwallet.svg');
}

.wrap-heading2 {
  background-image: url('../public/assets/images/backgroup-secsion/bgsupported.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  
}

.testnetcheck {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: radial-gradient(83.78% 518.77% at 38.06% 16.22%, #FF4F0D 0%, #7AB694 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 3rem;
  cursor: pointer;
}

.testnetquest {
  color: #FF4F0D;
}

.modal-tesnetcheck {
  position: absolute;
  width: 508px;
  height: 594px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

}

.search-wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 464px;
  height: 38px;
  left: 22px;
  top: 78px;
  background: #F8F8F8;
  border-radius: 10px;
  border: 3px;
  border-color: #B0B5B7;
}

.questlist{
  background: #F8F8F8;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 5px;
}

.questlist-text {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #B0B5B7;

}

.showlist {
  margin-top: 6rem;
}

.data-showlist {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 36px;
  text-align: center;
  color: #FF4F0D;
}

.title-showlist {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #17191E;
  margin-top: 1rem;
}

.green{
  color:green;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.icon-color-green {
  background: #7AB694;
}

.transaction-step-box {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F8F8F8;
  border-radius: 20px;
}

.transaction-step-sign-box {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F8F8F8;
  border-radius: 20px;
  padding-bottom: 15px;
}

.transaction-step-detail {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 10px 20px;
}

.transaction-sign-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #B0B5B7;
  padding: 0px 20px 20px;
  /* margin-left: 3.8rem; */
}

.transaction-note {
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #B0B5B7;
}

.transaction-warning-box {
  display: flex;
  align-items: center;
  background: rgba(232, 65, 66, 0.2);;
  border-radius: 100px;
  height: 36px;
  align-content: center;
  flex: auto;
  justify-content: center;
}

.transaction-warning-detail {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #E84142;
}

.transaction-sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  width: 100px;
  height: 30px;
  background: #FFEFE9;
  margin-left: 20px;
  margin-top: -10px;
}